
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    background-color: #F7F8F2;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;

}

  
.logo {
    order: 1;
    font-size: 1.6rem;
    font-weight: 800;           
}

nav {
    order: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    margin-left: 50px;
    margin-right: 50px;
}
nav ul {
    display: flex;
    order: 2;
}

nav ul a {
    color: black;
    font-size: 1.6rem;
    margin-left: 2rem;
}


.container {
    height: 800px;
    padding: 20px;
    margin-left: 40px;
    margin-right: 10px;
    display: flex; 
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}
.container img{
    width: 40%;  
}

.hero-text{
    width: 80%;
}

.hero-text h1 {
    font-size: 3.3rem;
    margin-bottom: 8px;
    color: rgb(193, 148, 13);
}

.hero-text p {
    font-size: 1.4rem;
    margin-bottom: 12px;
}
button{
    padding:  1em 2.1em 1.1em ;
    border-radius: 4px;
    margin: 8px;
    background-color: white;
    transition: background-color 1s ease-in-out;
}
button:hover
{
    color: white;
    background-color: black;
    cursor: pointer; 
}
.nav-toggle{
    order: 1;
    display: none;
}


@media (max-width:884px) {
    .container{
        margin-top: 10px;
        flex-direction: column;
        height: auto;
    }
    .container img{
        width: 110%;  
    }
    .hero-text{
        width: 100%;
        text-align: center;
    }
    .hero-text h1 {
        font-size: 3rem;
    }
    
}

@media (max-width:678px) {
    .hero-text h1 {
        font-size: 2rem;
    }
    
}

@media (max-width:450px) {
    nav ul {
        display: none;
    }
   
    
}

@media (max-width:450px) {
    .show-links {
        height: 10rem;
    }
    .nav-toggle{
        border-radius: 50px;
        display: block;
        border: none;
        background: none;
        
     }
    .nav-toggle:hover{
        background: none;
        color: black;
        
    }
    .nav-toggle:active{
        background: none;
        font-weight: bold;
    }
}

